

<igx-input-group type="search" class="search">
    <igx-prefix>
        <igx-icon>search</igx-icon>
    </igx-prefix>
    <label igxLabel for="town">Search Tickers</label>
    <input igxInput #search name="search" type="text" 
        [igxAutocomplete]="tickersPanel" 
        [igxAutocompleteSettings]="settings"
        [(ngModel)]="searchItem"/>
    <igx-suffix *ngIf="search.value.length > 0" (click)="searchItem = null">
        <igx-icon>clear</igx-icon>
    </igx-suffix>
</igx-input-group>

<igx-drop-down #tickersPanel maxHeight="300px">
    <igx-drop-down-item *ngFor="let res of symbolResults" (click)="symbolResultSelected = res">
        <b>{{res.ticker}}</b>  {{res.primaryExch}}  {{res.locale}}  {{res.currency}}  {{res.name}}
    </igx-drop-down-item>
</igx-drop-down>


<!--div class="timeframe-chooser">
    <igx-buttongroup [values]="displayTimeframe" (onSelect)="selectTimeframe($event)"></igx-buttongroup>
</div-->

<div class="list-sample">
    <igx-list #listContainer [displayDensity]="density">
        <igx-list-item isHeader="true">Items: {{items.length}}</igx-list-item>
        <div [style.height]="'600px'" [style.overflow]="'scroll'" [style.position]="'relative'" [style.overflow-x]="'hidden'">
            <igx-list-item 
                [style.width]="'calc(100%)'"
                #item 
                igxRipple="pink"
                igxRippleTarget=".igx-list__item-container"
                *igxFor="let item of items;">
                <!--igx-icon class="dialog__icon" igxDragHandle>drag_indicator</igx-icon-->
                <igx-avatar igxListThumbnail [src]="item.photo" roundShape="true"></igx-avatar>
                <linechart [ticker]='item.ticker'></linechart>
                <span igxListLineTitle>{{ item.ticker }}</span>
                <span igxListLineTitle>{{ item.primaryExch }}</span>
                <span igxListLineTitle>{{ item.locale }}</span>
                <span igxListLineTitle>{{ item.currency }}</span>
                <span igxListLineTitle>{{ item.name }}</span>
                <!--span igxListLineSubTitle>{{ item.lastgrowth }}</span-->
                <igx-icon data-num='item.ticker' (click)="onDeleteClicked(item.ticker)">delete</igx-icon>
            </igx-list-item>
        </div>
    </igx-list>
</div>
