@import '~igniteui-angular/lib/core/styles/themes/index';

:host {
    display: block;
}
.list-sample {
  display: block;
  position: relative;
  height: 550px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.list-sample {
    display: block;
    position: relative;
    height: 550px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}


.timeframe-chooser {
    margin-bottom: 16px;
}

igx-avatar {
  margin-left: 6px;
  margin-top: 24px;
  align-items: center;
  width: 70px;
  height: 70px;
}

igx-icon {
  cursor: pointer;
  margin-right: 10px;
}

linechart {
  align-items: center;
  margin-top: 0px;
  margin-right: 15px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  //display: flex;
  //flex: 1 0 240px;
  align-items: center;

  &__info {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 24px;
  }
}

.name {
  font-weight: 600;
}

.chart {
  width: 250;
  height: 150;
}

.phone {
  font-size: 0.875em;
  line-height: 1;
}

.search {
    margin-bottom: 16px;
}

.autocomplete {
  width: 50%;
  margin-top: 350px;
}
